@if (perfil == "2") {
<div class="w-full h-screen flex flex-row">
    <!-- Aqui esta la ventana principal -->
    <div class="bg-secondary w-full h-full">
        <div class="bg-primary p-4 sm:items-center">
            <h1 class="text-white text-3xl font-exo p-4">Bienvenido/a {{ nombreUsuario }}</h1>
        </div>
        <div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-2">
                <!-- Calendario -->
                <div class=" shadow-[2px_2px_10px_rgba(0,0,0,0.2)] rounded-lg flex flex-col ">
                    <header
                        class=" flex gap-4 items-center bg-primary-hover rounded-t-lg  border-t-[1px] border-l-[1px] border-r-[1px] border-primary p-4">
                        <div class="flex items-center w-full relative p-2">
                            <div class="flex items-center w-full relative ">
                                <button (click)="anteriorMes()" class="absolute left-5">
                                    <i
                                        class="text-secondary fa-solid fa-arrow-left text-xl transition duration-200 hover:scale-125"></i>
                                </button>
                                <div class="absolute left-1/2 tranform -translate-x-1/2">
                                    <strong class="text-white text-2xl"> {{nombreMes}}</strong>
                                </div>
                                <button (click)="siguienteMes()" class="absolute right-5">
                                    <i
                                        class="text-secondary fa-solid fa-arrow-right text-xl transition duration-200 hover:scale-125"></i>
                                </button>
                            </div>
                        </div>
                    </header>
                    <div class="m-2 border-b-2 border-primary rounded-t-md">
                        <div class="grid grid-cols-7 gap-2">
                            @for (d of diasSemana; track $index) {
                            <strong class="flex justify-center items-center text-2xl font-exo text-primary">
                                {{d.charAt(0)}}
                            </strong>
                            }
                        </div>
                    </div>
                    <div class="m-2 bg-secondary rounded-b-md">
                        <div class="grid grid-cols-7 gap-2 py-2 place-items-center">
                            @for (dia of dias; track $index) {
                            <div class="flex items-center justify-center w-9 h-9 rounded-full  text-base font-medium"
                                [ngClass]="{'bg-gris': comparoDia(dia.fecha!), 'bg-secondary': !comparoDia(dia.fecha!)}">
                                <div class="flex flex-col justify-center p-1">
                                    <span class="text-center font-exo text-xl">
                                        {{dia.fecha | date:'dd'}}
                                    </span>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- Notificaciones -->
                <div class="shadow-[2px_2px_10px_rgba(0,0,0,0.2)] rounded-lg flex flex-col">
                    <header
                        class="flex gap-4 justify-center items-center bg-primary-hover rounded-t-lg  border-t-[1px] border-l-[1px] border-r-[1px] border-primary p-2">
                        <strong class="text-white text-2xl">Notificaciones</strong>
                    </header>
                    <div class="flex flex-col w-full h-full gap-2 p-2">
                        @if(notificaciones.length > 0) {
                        @for (n of notificaciones; track $index) {
                        <div class="flex gap-2 items-center bg-secondary rounded-lg p-2">
                            <div class="flex items-center w-full relative ">
                                <div class="flex items-center w-full relative ">
                                    <button (click)="anteriorMes()" class="absolute left-5">
                                        <i
                                            class="text-secondary fa-solid fa-arrow-left text-xl transition duration-200 hover:scale-125"></i>
                                    </button>
                                    <div class="absolute left-1/2 tranform -translate-x-1/2">
                                        <strong class="text-white text-2xl"> {{n.titulo}}</strong>
                                    </div>
                                    <button (click)="siguienteMes()" class="absolute right-5">
                                        <i
                                            class="text-secondary fa-solid fa-arrow-right text-xl transition duration-200 hover:scale-125"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        }}@else {
                        <div class="flex flex-col w-full h-full gap-2 items-center justify-center">
                            <strong class="text-primary/60 font-exo text-2xl">¡Sin notificaciones por ahora! 😊</strong>
                            <strong class="text-primary/60 font-exo text-sm">(Pronto activaremos esta
                                funcionalidad)</strong>
                        </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}@else {
<div>
    <div class="bg-primary p-4 sm:items-center">
        <h1 class="text-white text-3xl font-exo p-4">Bienvenido/a {{ nombreUsuario }}</h1>
    </div>
    @if (clientes.length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 p-2">
        @for (c of clientes; track $index) {
        <div class="rounded-xl shadow bg-gray-200 flex flex-col min-h-[220px]">
            <header class="bg-primary rounded-t-lg items-center justify-center p-4">
                <span class="text-white text-2xl"> {{c.nombre}} {{c.apellidos}}</span>
            </header>
            <div class="flex px-4 py-2 items-center justify-between">
                <span>
                    {{c.objetivo}}
                </span>
            </div>
            <div class="flex flex-col justify-between rounded-b-xl px-4">
                <!-- Dias de entreno personal (me refiero a cada usuario) -->
                <div class="flex gap-2 mb-3">
                    @for(dia of diasSemana; track $index) {
                    <span class="w-full flex items-center justify-center border-2 border-primary rounded-full font-bold"
                     [ngClass]="{
                        'bg-primary text-white': c.disponibilidad.includes(dia),
                        'bg-white text-primary': !c.disponibilidad.includes(dia)
                        }">
                        {{dia.charAt(0)}}
                    </span>
                        }
                </div>
                <!-- Mensaje de aviso -->
                <div class="p-2 rounded font-exo text-center">
                    @if (c.disponibilidad.includes(diaSemana)) {
                    <strong class="text-primary/70 font-exo text-2xl">Tienes que añador ejercicios😊</strong>
                    }@else {
                        <strong class="text-black/20 font-exo text-2xl">¡No tienes ejercicios para hoy!</strong>
                    }
                    </div>

            </div>

        </div>
        }
    </div>
        }@else {
        <div class="flex flex-col w-full h-full gap-2 mt-10 items-center justify-center">
            <h1>¡Todavia no tienes clientes asociados!</h1>
            <h2>Pasa les tu codigo para poder asignar ejercicios</h2>
            <img src="../../assets/image/Logo.png" alt="Logo" class="w-52 p-2">
        </div>
        }
    
</div>
}