<div class="fondo flex flex-col justify-center items-center min-h-screen px-2 sm:px-4">
  <div class="w-full max-w-5xl bg-white/5 backdrop-blur-md rounded-2xl shadow-2xl p-2 sm:p-4">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row justify-between items-center w-full gap-4 mb-4">
      <div class="flex gap-2 items-center w-full sm:w-auto">
        <button [routerLink]="['/seleccion']" class="btn btn-primary !px-4 rounded">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <h1 class="font-montserrat text-2xl sm:text-3xl text-primary text-center w-full sm:w-auto">Cuestionario</h1>
      </div>
      <div class="flex items-center gap-2">
        <img src="../../assets/image/Logo.png" alt="Logo" class="w-12 h-10 object-contain" />
        <h1 class="font-montserrat text-xl sm:text-2xl text-primary">BoxBoost</h1>
      </div>
    </div>

    <!-- Formulario en grid -->
    <div class="w-full max-w-3xl mx-auto mt-6 sm:mt-10">
      <span class="block px-2 sm:px-4 mb-3 text-lg text-primary font-exo text-center">
        Necesitamos que rellenes este pequeño cuestionario
      </span>
      <div class="w-full border-4 border-primary px-3 sm:px-8 py-4 rounded-2xl shadow-lg">
        <form>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Código de entrenador -->
            <div>
              <app-input
                id="codigo"
                label="Código de entrenador"
                placeholder="Ej: 123456789"
                [(value)]="cuestionario.codigo">
              </app-input>
            </div>
            <!-- Género -->
            <div>
              <app-select
                id="genero"
                label="Género"
                [options]="[
                  { value: '', label: 'Selecciona un género' },
                  { value: 'Hombre', label: 'Hombre' },
                  { value: 'Mujer', label: 'Mujer' },
                  { value: 'Otro', label: 'Otro' },
                  { value: 'Prefiero no decirlo', label: 'Prefiero no decirlo' }
                ]"
                [(value)]="cuestionario.genero">
              </app-select>
            </div>
            <!-- Propósito -->
            <div>
              <app-select
                id="objetivo"
                label="Objetivo"
                [options]="[
                  { value: '', label: 'Selecciona un propósito' },
                  { value: 'Quema de grasa', label: 'Quema de grasa' },
                  { value: 'Ganar masa muscular', label: 'Ganar masa muscular' },
                  { value: 'Mejorar resistencia cardiovascular', label: 'Mejorar resistencia cardiovascular' },
                  { value: 'Aumentar fuerza', label: 'Aumentar fuerza' },
                  { value: 'Mejorar flexibilidad', label: 'Mejorar flexibilidad' },
                  { value: 'Preparación para competición', label: 'Preparación para competición' },
                  { value: 'Mantenimiento general', label: 'Mantenimiento general' }
                ]"
                [(value)]="cuestionario.objetivo">
              </app-select>
            </div>
            <!-- Nivel -->
            <div>
              <app-select
                id="nivel"
                label="Nivel"
                [options]="[
                  { value: '', label: 'Selecciona tu nivel' },
                  { value: 'Principiante', label: 'Principiante' },
                  { value: 'Intermedio', label: 'Intermedio' },
                  { value: 'Avanzado', label: 'Avanzado' }
                ]"
                [(value)]="cuestionario.nivel">
              </app-select>
            </div>
            <!-- Material en casa -->
            <div>
              <app-select
                id="materialCasa"
                label="¿Tienes material en casa?"
                [options]="[
                  { value: '', label: 'Selecciona una opción' },
                  { value: 'si', label: 'Sí' },
                  { value: 'no', label: 'No' },
                  { value: 'no-compra', label: 'No, pero me puedo comprar' }
                ]"
                [(value)]="cuestionario.material">
              </app-select>
            </div>
            <!-- Frecuencia -->
            <div>
              <app-input
                id="frecuencia"
                label="Frecuencia (En horas por dia)"
                placeholder="Ej: 1,1.5,3"
                [(value)]="cuestionario.frecuencia">
              </app-input>
            </div>
            <!-- Disponibilidad-->
            <div class="md:col-span-2">
              <label class="font-exo block mb-3">Disponibilidad:</label>
              <div class="flex gap-2 sm:gap-3 flex-wrap justify-center">
                @for (dia of diasSemana; track $index) {
                  <button
                    type="button"
                    class="w-10 h-10 rounded-full flex items-center justify-center text-lg font-exo font-bold uppercase transition border-2 border-primary shadow-sm hover:bg-primary hover:text-white"
                    [ngClass]="{
                      'bg-primary text-white': this.cuestionario.diasSeleccionados.includes(dia.nombre),
                      'text-primary': !this.cuestionario.diasSeleccionados.includes(dia.nombre)
                    }"
                    [value]="dia.nombre"
                    (click)="toggleDia(dia.nombre)">
                    {{ dia.inicial }}
                  </button>
                }
              </div>
            </div>
            <!-- Observaciones -->
            <div class="md:col-span-2">
              <label for="observaciones" class="block mb-2 font-exo">Observaciones</label>
              <textarea
                id="observaciones"
                class="w-full p-3 rounded-xl shadow-sm bg-secondary text-primary"
                placeholder="Escribe cualquier información adicional..."
                name="observaciones"
                rows="3"
                [(ngModel)]="cuestionario.observaciones">
              </textarea>
            </div>
          </div>
          <div class="flex justify-end mt-6">
            <button (click)="validarRegistro()" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
