<div class="flex flex-col bg-primary justify-center items-center h-screen">
  <div class="grid grid-cols-2 items-center justify-center h-full">
    <div class="flex flex-col text-white items-center justify-center">
        <h1 class="font-montserrat">BIENVENIDO</h1>
        <h2 class="font-exo">BoxBoost</h2>
        <div class="bg-white rounded-full p-2 w-1/2 h-1/2 justify-center items-center">
            <img src="src\assets\imagenes\logo.png" alt="logo" class="w-1/2 h-1/2">
        </div>
    </div>
    <div class="border-4 shadow-lg border-color-white rounded-2xl p-4 w-full">
        <h1 class="text-white font-exo px-3">INICIO DE SESIÓN</h1>
        <app-input class="text-white" type="text" placeholder="Usuario" label="Usuario"></app-input>
        <app-input class="text-white" type="password" placeholder="Contraseña" label="Contraseña"></app-input>
        <div class="grid grid-cols-2 gap-2 mt-5">    
            <button class="btn">Iniciar sesión</button>
            <button class="btn btn-warning">Registrarse</button>
        </div>
    </div>
  </div>
</div>
