<div class="fondo flex flex-col justify-center items-center h-screen p-4">
  <div class="container grid grid-cols-1 md:grid-cols-2 gap-4 items-center p-4 justify-center max-w-4xl h-auto md:h-[50vh] rounded-2xl shadow-2xl">
    <div class="flex flex-col text-primary items-center justify-center">
        <h1 class="font-montserrat text-4xl">BIENVENIDO/A</h1>
        <h2 class="font-exo text-3xl">BoxBoost</h2>
        <div class=" rounded p-2 justify-center items-center mt-2">
          <img src="../../assets/image/Logo.png" alt="Logo" class="w-52 p-2 ">
        </div>
    </div>
    <div class="grid border-4 py-4 shadow-lg border-primary rounded-2xl w-full p-3">
       <div class=" flex justify-center items-center">
         <h1 class="text-white font-exo text-3xl md:text-4xl">INICIO DE SESIÓN</h1>
       </div>
         <app-input [(value)]="usuario.user" class="text-white w-full" id="user" type="text" placeholder="Usuario" label="Usuario"></app-input>
         <app-input (keyup.enter)="login()"  [(value)]="usuario.pass" class="text-white" id="pass" type="password" placeholder="Contraseña" label="Contraseña"></app-input>
         <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-4">    
            <button (click)="login()" class="btn btn-primary">Iniciar sesión</button>
            <button [routerLink]="['/seleccion']"  routerLinkActive="active" class="btn btn-secondary">¿No tienes cuenta?</button>
        </div>
    </div>
  </div>
</div>
  