<nav class="bg-primary w-full md:w-20 h-20 md:h-full flex md:flex-col items-center justify-between shadow-lg">

  <div class="flex md:flex-col gap-2 md:gap-6 items-center md:items-stretch py-2 md:py-6 m-2">

    <button
      class="group p-2 flex items-center justify-center transition-all duration-200 focus:outline-none"
      [ngClass]="rutaActual('/dashboard/home') ? 'rounded-xl bg-secondary text-primary shadow-md scale-105' : 'text-secondary hover:bg-secondary/30  rounded-xl'"
      matTooltip="Home" (click)="navegar('/dashboard/home')">
      <i class="fa-solid fa-house text-2xl md:text-3xl"></i>
    </button>

    <button class="group p-2 flex items-center justify-center transition-all duration-200 focus:outline-none"
      [ngClass]="rutaActual('/dashboard/ejercicios') ? 'rounded-xl bg-secondary text-primary shadow-md scale-105' : 'text-secondary hover:bg-secondary/30  rounded-xl'"
      matTooltip="Ejercicios" (click)="navegar('/dashboard/ejercicios')">
      <i class="fa-solid fa-calendar-days text-2xl md:text-3xl"></i>
    </button>

    <button
      class="group p-2 flex items-center justify-center transition-all duration-200 focus:outline-none"
      [ngClass]="rutaActual('/dashboard/chat') ? 'rounded-xl bg-secondary text-primary shadow-md scale-105' : 'text-secondary hover:bg-secondary/30  rounded-xl'"
      matTooltip="Chat" (click)="navegar('/dashboard/chat')">
      <i class="fa-solid fa-comments text-2xl md:text-3xl"></i>
    </button>

    <button
      class="group p-2 flex items-center justify-center transition-all duration-200 focus:outline-none"
      [ngClass]="rutaActual('/dashboard/informacion') ? 'rounded-xl bg-secondary text-primary shadow-md scale-105' : 'text-secondary hover:bg-secondary/30  rounded-xl'"
      matTooltip="Info" (click)="navegar('/dashboard/informacion')" >
      <i class="fa-solid fa-circle-info text-2xl md:text-3xl"></i>
    </button>
    
  </div>


  <div class="p-2 m-2">
    <button
      class="group flex items-center justify-center p-2 transition-all duration-200 focus:outline-none"
      [ngClass]="rutaActual('/dashboard/perfil') ? 'rounded-xl bg-secondary text-primary shadow-md scale-105' : 'text-secondary hover:bg-secondary/30  rounded-xl'"
      matTooltip="Perfil" (click)="navegar('/dashboard/perfil')" >
      <i class="fa-solid fa-user text-2xl md:text-3xl"></i>
    </button>
  </div>
</nav>
